<mat-list>
  <div mat-subheader>Menú</div>
  <mat-list-item>
    <mat-icon matListIcon>restaurant_menu</mat-icon>
    <p matLine><span>Nuestra carta</span></p>
  </mat-list-item>

  <mat-list-item>
    <mat-icon matListIcon matBadge="15" matBadgeColor="warn"
      >local_grocery_store</mat-icon
    >
    <p matLine><span>Carrito</span></p>
  </mat-list-item>

  <mat-list-item>
    <mat-icon matListIcon>history</mat-icon>
    <p matLine><span>Historial de pedidos</span></p>
  </mat-list-item>

  <mat-list-item>
    <mat-icon matListIcon>store</mat-icon>
    <p matLine><span>Nuestros locales</span></p>
  </mat-list-item>

  <mat-list-item>
    <mat-icon matListIcon>info</mat-icon>
    <p matLine><span>Sobre nosotros</span></p>
  </mat-list-item>
</mat-list>
