<mat-card>
  <mat-card-header>
    <mat-card-title>{{ item.name }}</mat-card-title>
    <mat-card-subtitle>{{ item.category?.display_name }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>{{ item.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-flat-button
      color="primary"
      type="button"
      (click)="onAgregar(item.id)"
    >
      AGREGAR
    </button>
    <button mat-button type="button" (click)="onDetalle(item.id)">
      VER DETALLE
    </button>
  </mat-card-actions>
</mat-card>
