<mat-card>
  <mat-card-header>
    <mat-card-title>Título item</mat-card-title>
    <mat-card-subtitle>Categoría</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>Descripción del item</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary">AGREGAR</button>
    <button mat-button>VER DETALLE</button>
  </mat-card-actions>
</mat-card>
