<h1 class="mb-3 mat-display-2">Nuestra carta</h1>
<h3 class="mat-h3">
  Disfrutá de una excelente variedad de hamburguesas, lomos y pizzas. También
  podes elegir tu bebida y la adjuntamos al pedido.
</h3>

<div class="row mt-5">
  <div class="col">
    <app-filter-chips
      [model]="chipsModel"
      (select)="onChipSelect($event)"
    ></app-filter-chips>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-lg-3 mt-4" *ngFor="let item of menuItems">
    <app-menu-item
      [menuItem]="item"
      (select)="onItemSelect($event)"
      (detail)="onItemDetail($event)"
    ></app-menu-item>
  </div>
</div>
