<h1 class="mb-3 mat-display-2">Nuestra carta</h1>
<h3 class="mat-h3">
  Disfrutá de una excelente variedad de hamburguesas, lomos y pizzas. También
  podes elegir tu bebida y la adjuntamos al pedido.
</h3>

<div class="row mt-5">
  <div class="col">
    <mat-chip-list aria-label="Fish selection">
      <mat-chip>One fish</mat-chip>
      <mat-chip>Two fish</mat-chip>
      <mat-chip color="primary" selected>Primary fish</mat-chip>
      <mat-chip selected>Accent fish</mat-chip>
    </mat-chip-list>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 mt-4">
    <app-menu-item></app-menu-item>
  </div>
  <div class="col-lg-4 mt-4">
    <app-menu-item></app-menu-item>
  </div>
  <div class="col-lg-4 mt-4">
    <app-menu-item></app-menu-item>
  </div>
  <div class="col-lg-4 mt-4">
    <app-menu-item></app-menu-item>
  </div>
  <div class="col-lg-4 mt-4">
    <app-menu-item></app-menu-item>
  </div>
  <div class="col-lg-4 mt-4">
    <app-menu-item></app-menu-item>
  </div>
</div>
